body {
  background-image: url(images/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

p {
  font-family: 'Quicksand', sans-serif;
}

.about_me h3 {
  font-family: 'Quicksand', sans-serif;
}

.container-fluid {
  margin: 20px 0 20px 0;
  background-color: rgba(255,255,255,0.6);
  border-radius: 20px;
}

header {
  margin-top: 10%;
}

.title img {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

.stack img {
  position: absolute;
}

#fade_from {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

#fade_from:hover {
  opacity: 0.0;
}

div .nav-container {
  margin-top: 8%;
  display: flex;
  justify-content: center;
}

nav {
  font-family: 'Quicksand', sans-serif;
}

.nav-pills li {
  font-size: 92%;
}

.dropdown-menu img {
  width: 25px;
}

div .social {
  display: flex;
  justify-content: flex-end;
  margin-top: 2%;
}

.social li {
  list-style-type: none;
}

.social img {
  width: 50%;
}

main {
  margin-top: 30%;
}

.flex {
  margin: 10% auto;
}

.about_me {
  margin: 10%;
  padding: 3%;
  text-align: center;
  border: 3px solid #adc8fc;
}

main h2 {
  text-align: center;
  margin: 7%;
  font-family: 'Quicksand', sans-serif;
}

.flex p {
  display: none;
  margin: 20% 5% 10% 5%;
  text-align: justify;
}

.flex a img {
  transition: all 2s ease-in-out;
}

.flex a:hover + p {
  margin-top: 10%;
  display: inherit;
}

.flex a:hover img {
  transform: scale(1.25);
}

/*MEDIA QUERIES*/

/*tablet*/
@media (min-width: 768px) and (max-width: 991px) {

body {
  background-size: contain;
  background-position: top;
}

div .nav-container{
  margin-top: 20%;
}

.nav {
  margin-top: 15%;
}

.flex {
  margin-top: 65%;
}

.flex a:hover img {
  transform: scale(1);
}

.flex p {
  margin: 5%;
  display: inherit;
}

.flex a:hover + p {
  margin: 5%;
  background-color: #ffffff;
}

}

/*phone*/
@media (max-width: 767px) {

  body {
    background-size: contain;
    background-position: top;
  }

  div .nav-container {
    margin-top: 20%;
  }

  .nav {
    margin-top: 15%;
  }

  .flex p {
    margin: 5%;
    display: inherit;
  }

  .flex a:hover + p {
    margin: 5%;
  }

  .flex a:hover img {
    transform: scale(1);
  }

  .flex {
    margin-top: 95%;
  }

}
