@fontface {
  font-family: 'summer_reg';
  src: url(/Users/Deyton/Desktop/checkpoints/deytonk.github.io/checkpoint-2/fonts/summer-woff/summer_reg.woff);
}

body {
  background-image: url(images/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.container {
  width: 80%;
  background-color: rgba(255,255,255,0.75);
  border-radius: 20px;
}

.title img {
  width: 100%;
  height: auto;
}

.nav-pills li {
  font-size: 75%;
}

.dropdown-menu img {
  width: 50px;
  margin: 10px;
}

.social {
  justify-items: flex-end;
  list-style-type: none;
}

.social img {
  width: 100%;
}

p {
  font-family: 'summer_reg', sans-serif;
}

/*MEDIA QUERIES*/

/*tablet*/
@media (min-width: 768px) and (max-width: 991px) {

}

/*phone*/
@media (max-width: 767px) {

}
